.chart-index .sortable {
    display: table;
    padding-left: 0;
}

.chart-index .left {
    display: table-cell;
    vertical-align: middle;
}

.chart-index .left .move, 
.chart-index .left .move:hover {
    cursor: move;
}

.chart-index .right {
    display: table-cell;
    width: 100%;
}

.chart-index .portlet {
    margin: 0 1em 1em 0;
    padding: 0.3em;
}

.chart-index .portlet-placeholder {
    border: 1px dotted black;
    margin: 0 1em 1em 0;
    height: 50px;
}

.chart-index ul li {
    display: block;
}